* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-image: url(../assets/img/fondo.JPG);
  background-size: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61)), url("../assets/img/fondo.JPG");
  background-repeat: repeat-y;
  overflow-x: hidden;
  display: grid;
  height: 100vh; }

@media (max-width: 1440px) {
  body {
    overflow-x: hidden;
    background-attachment: fixed;
    display: grid; } }

@media (max-width: 1024px) {
  body {
    background-attachment: fixed;
    overflow-x: hidden; } }

@media (max-width: 768px) {
  body {
    background-attachment: fixed;
    overflow-x: hidden; } }

@media (max-width: 425px) {
  body {
    background-attachment: fixed;
    overflow-x: hidden; } }

@media (max-width: 375px) {
  body {
    background-attachment: fixed;
    overflow-x: hidden; } }

@media (max-width: 320px) {
  body {
    background-attachment: fixed;
    overflow-x: hidden; } }

@font-face {
  /*pasado a sass*/
  font-family: "Josefin Light Italic";
  src: url("../fonts/JosefinSans-LightItalic.ttf"); }

header {
  display: flex;
  justify-content: space-between; }
  header div .navbar {
    display: flex;
    margin: 0px;
    padding: 10px;
    justify-content: space-between; }
    header div .navbar a .logo {
      height: 100px;
      margin: 0px;
      padding-left: 50px;
      transition: .3s; }
      header div .navbar a .logo:hover {
        transform: scale(1.1); }
    header div .navbar .navbar2 {
      display: grid;
      grid-template-columns: 200px 200px 200px 200px 200px;
      list-style-type: none;
      margin-top: 50px;
      padding-left: 0px; }
      header div .navbar .navbar2 li {
        padding-right: 0px;
        text-decoration: none;
        color: #F4DB7A;
        font-family: "Josefin Light Italic";
        text-transform: uppercase;
        padding-inline-start: 100px; }
        header div .navbar .navbar2 li a {
          text-decoration: none;
          color: #F4DB7A; }

main .regiones {
  display: grid;
  grid-template-columns: 450px 450px 450px;
  justify-items: center;
  padding-top: 200px;
  padding-bottom: 100px;
  gap: 0px;
  margin-right: 0px; }
  main .regiones a .tipoderegion {
    box-shadow: 0 0 40px rgba(243, 230, 156, 0.555);
    transition: transform .2s; }
    main .regiones a .tipoderegion:hover {
      transform: scale(1.1); }

main .tiraimg {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  justify-content: center;
  margin-bottom: 300px; }
  main .tiraimg .imgdelatira {
    margin: 20px;
    width: 260px;
    height: 260px;
    box-shadow: 0 0 20px rgba(247, 216, 77, 0.651);
    transition: .3s;
    margin-left: 30px; }
    main .tiraimg .imgdelatira:hover {
      transform: scale(1.1); }

main section {
  display: flex;
  justify-content: center;
  align-items: center; }
  main section div {
    display: flex;
    justify-content: center;
    align-items: center; }
    main section div .video {
      max-width: 100%;
      height: auto; }

footer .infopie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  font-size: 25px;
  font-family: "Josefin Light Italic";
  line-height: 50px;
  padding-bottom: 100px;
  height: 300px;
  margin-left: 50px; }
  footer .infopie div {
    display: grid; }
    footer .infopie div .pie {
      color: #F4DB7A;
      text-decoration: none; }
    footer .infopie div ul {
      list-style-type: none; }
      footer .infopie div ul .navpie {
        text-decoration: none; }
        footer .infopie div ul .navpie li {
          text-decoration: none;
          color: #F4DB7A; }
  footer .infopie .seguinos div {
    display: flex; }
    footer .infopie .seguinos div .face {
      width: 30px;
      height: 30px;
      transition: .2s;
      margin: 1.25rem; }
      footer .infopie .seguinos div .face:hover {
        transform: scale(1.5); }
    footer .infopie .seguinos div .insta {
      height: 30px;
      transition: .2s; }
      footer .infopie .seguinos div .insta:hover {
        transform: scale(1.5); }

main section {
  display: grid; }
  main section div .postitulo {
    text-align: center;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 50px;
    font-family: "Josefin Light Italic";
    text-transform: uppercase;
    text-shadow: 0 0 30px #f3eb7ab6; }
  main section div .historia {
    text-align: center;
    line-height: 90px;
    background-color: rgba(243, 235, 165, 0.062);
    margin: 50px;
    font-size: 45px;
    color: #fcebb2;
    padding-top: 150px;
    padding-bottom: 150px;
    font-family: "Josefin Light Italic"; }

main section .recregion {
  text-align: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 30px;
  font-family: "Josefin Light Italic";
  text-shadow: 0 0 30px #f3eb7ab6; }

main section .tituloreceta {
  text-align: center;
  background-color: rgba(253, 239, 111, 0.315);
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Josefin Light Italic";
  font-weight: 800;
  color: #beb691;
  letter-spacing: 10px;
  margin-top: 30px; }

main section .imgreceta {
  display: flex;
  justify-content: center; }
  main section .imgreceta .imgcomida1 {
    width: 462px;
    height: 375px;
    padding-top: 0px;
    margin-top: 50px;
    box-shadow: 0 0 30px #f3eb7ab6; }
  main section .imgreceta .imgcomida2 {
    padding-top: 0px;
    margin-top: 50px;
    box-shadow: 0 0 30px #f3eb7ab6; }
  main section .imgreceta .imgcomida3 {
    display: flex;
    justify-content: center;
    width: 480px;
    height: 267px;
    padding-top: 0px;
    margin-top: 50px;
    margin-left: 0px;
    box-shadow: 0 0 30px #f3eb7ab6; }
  main section .imgreceta .imgcomida4 {
    width: 480px;
    height: 380px;
    padding-top: 0px;
    margin-top: 50px;
    box-shadow: 0 0 30px #f3eb7ab6; }
  main section .imgreceta .imgcomida5 {
    width: 500px;
    height: 420px;
    padding-top: 0px;
    margin-top: 50px;
    box-shadow: 0 0 30px #f3eb7ab6; }

main section .time {
  text-align: center;
  color: #beb691;
  font-size: 30px;
  text-shadow: 0 0 30px #f3eb7ab6;
  margin-top: 50px; }

main section div {
  display: grid;
  grid-template-columns: 1fr; }
  main section div .ingredientestitulo {
    text-align: center;
    color: #c2b57e;
    font-size: 30px;
    line-height: 30px;
    font-family: "Josefin Light Italic";
    text-shadow: 0 0 30px #f3eb7ab6;
    margin-bottom: 30px;
    margin-top: 50px; }
  main section div .ingredientes {
    text-align: center;
    color: #c2b57e;
    list-style-type: none;
    font-size: 20px;
    line-height: 30px;
    font-family: "Josefin Light Italic";
    text-shadow: 0 0 30px #f3eb7ab6; }
  main section div .pasos {
    text-align: left;
    color: #c2b57e;
    line-height: 30px;
    padding-left: 200px;
    padding-right: 100px;
    font-size: 20px;
    font-family: "Josefin Light Italic";
    text-shadow: 0 0 30px #f3eb7ab6; }

main section .recregion {
  text-align: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 30px;
  font-family: "Josefin Light Italic";
  text-shadow: 0 0 30px #f3eb7ab6; }

main section .tituloreceta {
  text-align: center;
  background-color: rgba(253, 239, 111, 0.315);
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Josefin Light Italic";
  font-weight: 800;
  color: #beb691;
  letter-spacing: 10px;
  margin-top: 30px; }

main .imgreceta {
  display: flex;
  justify-content: center; }
  main .imgreceta .imgcomida6 {
    width: 432px;
    height: 410px;
    padding-top: 0px;
    margin-top: 50px;
    box-shadow: 0 0 30px #f3eb7ab6; }
  main .imgreceta .imgcomida7 {
    width: 500px;
    height: 333px;
    padding-top: 0px;
    margin-top: 50px;
    box-shadow: 0 0 30px #f3eb7ab6; }
  main .imgreceta .imgcomida8 {
    width: 500px;
    height: 326px;
    padding-top: 0px;
    margin-top: 50px;
    box-shadow: 0 0 30px #f3eb7ab6; }
  main .imgreceta .imgcomida9 {
    width: 364px;
    height: 364px;
    padding-top: 0px;
    margin-top: 50px;
    box-shadow: 0 0 30px #f3eb7ab6; }
  main .imgreceta .imgcomida10 {
    width: 500px;
    height: 398px;
    padding-top: 0px;
    margin-top: 50px;
    box-shadow: 0 0 30px #f3eb7ab6; }

main .time {
  text-align: center;
  color: #beb691;
  font-size: 30px;
  text-shadow: 0 0 30px #f3eb7ab6;
  margin-top: 50px; }

main div .ingredientestitulo {
  text-align: center;
  color: #c2b57e;
  font-size: 30px;
  line-height: 30px;
  font-family: "Josefin Light Italic";
  text-shadow: 0 0 30px #f3eb7ab6;
  margin-bottom: 30px;
  margin-top: 50px; }

main div .ingredientes {
  text-align: center;
  color: #c2b57e;
  list-style-type: none;
  font-size: 20px;
  line-height: 30px;
  font-family: "Josefin Light Italic";
  text-shadow: 0 0 30px #f3eb7ab6; }

main div .pasos {
  text-align: left;
  color: #c2b57e;
  line-height: 30px;
  padding-left: 200px;
  padding-right: 100px;
  font-size: 20px;
  font-family: "Josefin Light Italic";
  text-shadow: 0 0 30px #f3eb7ab6; }

main section .recregion {
  text-align: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 30px;
  font-family: "Josefin Light Italic";
  text-shadow: 0 0 30px #f3eb7ab6; }

main section .tituloreceta {
  text-align: center;
  background-color: rgba(253, 239, 111, 0.315);
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Josefin Light Italic";
  font-weight: 800;
  color: #beb691;
  letter-spacing: 10px;
  margin-top: 30px; }

main .imgreceta {
  display: flex;
  justify-content: center; }
  main .imgreceta .imgcomida11 {
    padding-top: 0px;
    margin-top: 50px;
    box-shadow: 0 0 30px #f3eb7ab6; }
  main .imgreceta .imgcomida12 {
    width: 575px;
    height: 350px;
    padding-top: 0px;
    margin-top: 50px;
    box-shadow: 0 0 30px #f3eb7ab6; }
  main .imgreceta .imgcomida13 {
    width: 560px;
    height: 325px;
    padding-top: 0px;
    margin-top: 50px;
    box-shadow: 0 0 30px #f3eb7ab6; }
  main .imgreceta .imgcomida14 {
    width: 500px;
    height: 403px;
    padding-top: 0px;
    margin-top: 50px;
    box-shadow: 0 0 30px #f3eb7ab6; }
  main .imgreceta .imgcomida15 {
    width: 680px;
    height: 408px;
    padding-top: 0px;
    margin-top: 50px;
    box-shadow: 0 0 30px #f3eb7ab6; }

main .time {
  text-align: center;
  color: #beb691;
  font-size: 30px;
  text-shadow: 0 0 30px #f3eb7ab6;
  margin-top: 50px; }

main div .ingredientestitulo {
  text-align: center;
  color: #c2b57e;
  font-size: 30px;
  line-height: 30px;
  font-family: "Josefin Light Italic";
  text-shadow: 0 0 30px #f3eb7ab6;
  margin-bottom: 30px;
  margin-top: 50px; }

main div .ingredientes {
  text-align: center;
  color: #c2b57e;
  list-style-type: none;
  font-size: 20px;
  line-height: 30px;
  font-family: "Josefin Light Italic";
  text-shadow: 0 0 30px #f3eb7ab6; }

main div .pasos {
  text-align: left;
  color: #c2b57e;
  line-height: 30px;
  padding-left: 200px;
  padding-right: 100px;
  font-size: 20px;
  font-family: "Josefin Light Italic";
  text-shadow: 0 0 30px #f3eb7ab6; }

@media (max-width: 1440px) {
  main .regiones {
    grid-template-columns: 21.875rem 21.875rem 21.875rem;
    padding-bottom: 300px; }
  main .tiraimg {
    margin-bottom: 200px; }
  footer .infopie {
    padding-top: 300px;
    margin-bottom: 100px; } }

@media (max-width: 768px) {
  main .tiraimg {
    justify-items: center; }
    main .tiraimg .imgdelatira {
      width: 150px;
      height: 150px; }
  footer .infopie {
    padding-bottom: 300px;
    margin-top: 100px; } }

@media (max-width: 320px) {
  header div .navbar {
    display: grid;
    grid-template-columns: 1fr; }
    header div .navbar a .logo {
      position: relative;
      margin-left: 50px; }
    header div .navbar .navbar2 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-inline-start: 0px;
      margin-left: 0px;
      column-gap: 20px;
      row-gap: 20px; }
      header div .navbar .navbar2 li {
        padding-left: 20px;
        font-size: 16px; }
  main .regiones {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 50px;
    row-gap: 30px;
    margin-bottom: 50px;
    margin-top: 50px; }
    main .regiones a .tipoderegion {
      width: 170px;
      height: auto; }
  main .tiraimg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 50px;
    margin-bottom: 20px; }
  main section .imgreceta .imgcomida1 {
    width: 280px;
    height: auto; }
  main section .imgreceta .imgcomida2 {
    width: 280px;
    height: auto; }
  main section .imgreceta .imgcomida3 {
    width: 280px;
    height: auto; }
  main section .imgreceta .imgcomida4 {
    width: 280px;
    height: auto; }
  main section .imgreceta .imgcomida5 {
    width: 280px;
    height: auto; }
  main section .imgreceta .imgcomida7 {
    width: 280px;
    height: auto; }
  main section .imgreceta .imgcomida8 {
    width: 280px;
    height: auto; }
  main section .imgreceta .imgcomida9 {
    width: 280px;
    height: auto; }
  main section .imgreceta .imgcomida10 {
    width: 280px;
    height: auto; }
  main section .imgreceta .imgcomida11 {
    width: 280px;
    height: auto; }
  main section .imgreceta .imgcomida12 {
    width: 280px;
    height: auto; }
  main section .imgreceta .imgcomida13 {
    width: 280px;
    height: auto; }
  main section .imgreceta .imgcomida14 {
    width: 280px;
    height: auto; }
  main section .imgreceta .imgcomida15 {
    width: 280px;
    height: auto; }
  footer .infopie {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 30px;
    row-gap: 50px;
    margin-top: 10px; }
    footer .infopie .seguinos .face {
      width: 20px;
      height: auto; }
    footer .infopie .seguinos .insta {
      width: 30px;
      height: auto; } }
