footer{
    .infopie{
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 25px;
        font-family: $font-principal;
        line-height: 40px;
        letter-spacing: 3px;
        justify-items: center;
        div{
            display: grid;
            .pie{
                color: $color-principal-header;
                text-decoration: none;
            }
            ul{
                list-style-type: none;
                display: grid;
                grid-template-columns: 1fr 1fr ;
                .navpie{
                    text-decoration: none;
                    li{
                        text-decoration: none;
                        color: $color-principal-header;
                    }
                }
            }
        }
    }
}
