footer{
    .infopie{
        display: grid;
        padding-top: 250px;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        padding-bottom: 50px;
        font-size: 25px;
        font-family: $font-principal;
        line-height: 50px;
        div{
            .pie{
                color: $color-principal-header;
                text-decoration: none;
            }
            ul{
                list-style-type: none;
                .navpie{
                    text-decoration: none;
                    li{
                        text-decoration: none;
                        color: $color-principal-header;
                    }
                }
            }
        }
        .seguinos{
            .face{
                margin: 20px;
                width: 30px;
                height: 30px;  
                transition: .2s;
                &:hover{
                    transform: scale(1.5);
                }
            }
            .insta{
                height: 30px;
                margin-bottom: 10px;  
                padding-bottom: 6px;   
                transition: .2s;
                &:hover{
                    transform: scale(1.5);
                }
            }
        }
    }
}