header{
    display: flex;
    justify-content: space-between;
    div{
        .navbar{
            display: flex;
            margin: 0px;
            padding: 10px;
            justify-content: space-between;
                a{ 
                    .logo{
                        height: 100px;
                        margin: 0px;
                        padding-left: 50px;
                        transition: .3s;
                            &:hover{
                                transform: scale(1.1);
                            }
                    }
                }
                .navbar2{
                    display: grid;
                    grid-template-columns: 200px 200px 200px 200px 200px;
                    list-style-type: none;
                    margin-top: 50px;
                    padding-left: 0px;
                    li{
                        padding-right: 0px;
                        text-decoration: none;
                        color: $color-principal-header;
                        font-family: $font-principal;
                        text-transform: uppercase;
                        padding-inline-start: 100px;
                        a{
                            text-decoration: none;
                            color: $color-principal-header;
                        }
                    }
                }
            }
        }
    }