main{
    .regiones{
        display: grid;
        grid-template-columns: 450px 450px 450px;
        justify-items: center;
        padding-top: 200px;
        padding-bottom: 200px;
        gap: 0px;
            a{
                .tipoderegion{
                    box-shadow: 0 0 40px rgba(243, 230, 156, 0.555);
                    transition: transform .2s;
                        &:hover{
                            transform: scale(1.1)
                        }
                }
            }
        }
    }
    .tiraimg{
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr;
        justify-content: center;
        margin-bottom: 300px;
        .imgdelatira{
            margin: 20px;
            width: 260px;
            height: 260px;
            box-shadow: 0 0 20px rgba(247, 216, 77, 0.651);
            transition: .3s;
            margin-left: 30px;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            .video{
                max-width: 100%;
                height: auto;
            }
        }
    }