@media (max-width: 768px){
    header{
        display: flex;
        flex-direction: column;
        width: 768px;
        div{
            .navbar{
                display: grid;
                grid-template-columns: 1fr;
                a{
                    display: grid;
                    grid-template-rows: 1fr;
                    justify-items: center;
                    .logo{
                        position: relative;
                        margin-left: 0px;
                        padding-left: 0px;
                        padding-right: 0px;
                    }
                }
                .navbar2{
                    display: grid;
                    grid-template-columns: 100px 100px 100px 100px 100px;
                    justify-content: center;
                    li{
                        padding-left: 0px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    main{
        width: 768px;
        .regiones{
            width: 768px;
        }
        section{
            div{
                .postitulo{
                    font-size: 25px;
                }
            }
            div{
                .historia{
                    font-size: 30px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    line-height: 60px;
                }
            }
        }
        .regiones{
            display: grid;
            grid-template-columns: 1fr;
            padding-top: 50px;
            row-gap: 30px;
            margin-bottom: 0px;
            margin-top: 50px;
            padding-bottom: 50px;
            
            a{
                .tipoderegion{
                    width: 170px;
                    height: auto;
                }
            }
        }
        .tiraimg{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding-top: 50px;
            margin-bottom: 60px;
            justify-items: center;
            .imgdelatira{
                width: 120px;
                height: 120px;
            }
        }
        section{
            .recregion{
                .regionsierra{
                    font-size: 30px;
                }
            }
        }
        section{
            .time{
                font-size: 20px;
            }
            div{
                .ingredientestitulo{
                    font-size: 25px;
                }
            }
        }
        section{
            .imgreceta{
                .imgcomida1{
                    width: 280px;
                    height: auto;
                }
                .imgcomida2{
                    width: 280px;
                    height: auto;
                }
                .imgcomida3{
                    width: 280px;
                    height: auto;
                }
                .imgcomida4{
                    width: 280px;
                    height: auto;
                }
                .imgcomida5{
                    width: 280px;
                    height: auto;
                }
                .imgcomida6{
                    width: 280px;
                    height: auto;
                }
                .imgcomida7{
                    width: 280px;
                    height: auto;
                }
                .imgcomida8{
                    width: 280px;
                    height: auto;
                }
                .imgcomida9{
                    width: 280px;
                    height: auto;
                }
                .imgcomida10{
                    width: 280px;
                    height: auto;
                }
                .imgcomida11{
                    width: 280px;
                    height: auto;
                }
                .imgcomida12{
                    width: 280px;
                    height: auto;
                }
                .imgcomida13{
                    width: 280px;
                    height: auto;
                }
                .imgcomida14{
                    width: 280px;
                    height: auto;
                }
                .imgcomida15{
                    width: 280px;
                    height: auto;
                }
            }
        }
    }
    footer{
        .infopie{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 30px;
            row-gap: 50px;
            margin-top: 80px;
            justify-items: center;
            font-size: 18px;
            }
        }
    }