@media (max-width: 1440px){
    main{
        .regiones{
            grid-template-columns: 21.875rem 21.875rem 21.875rem;
            padding-bottom: 300px;
        }
        .tiraimg{
            margin-bottom: 200px;
            justify-items: center;
            .imgdelatira{
                width: 220px;
                height: 220px;
            }
        }
        section{
            div{
                video{
                    width: 1024px;
                    height: auo;
                }
            }
        }
    }
    footer{
        .infopie{
            padding-top: 300px;
            margin-bottom: 100px;
        }
    }
}