@media (max-width: 375px){
    header{
        width: 375px;
        div{
            width: 375px;
            nav.navbar{
                width: 375px;
                
            }
        }
    }
    main{
        width: 375px;
        .regiones{
            width: 375px;
        }
    }
}