@media (max-width: 320px){
    header{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        width: 320px;
        div{
            width: 320px;
            nav.navbar{
                display: grid;
                grid-template-columns: 1fr;
                width: 425px;
                justify-content: center;
                width: 320px;
                ul.navbar2{
                    grid-template-columns: 1fr;
                    row-gap: 30px;
                }
            }
        }
    }
    main{
        width: 320px;
        .regiones{
            width: 320px;
        }
        .tiraimg{
            grid-template-columns: 1fr 1fr;
            .imgdelatira{
                margin: 10px;
            }
        }
    }
    footer{
        width: 320px;
        .infopie{
            grid-template-columns: 1fr;
            width: 320px;
        }
    }
}